body {
    background: #f4f4f4;
}
.sidebar {
    background: #0a5c36;
    min-height: 100vh;
    color: #fff;
}
.sidebar .nav-link {
    color: #fff;
}
.sidebar .nav-link.active, .sidebar .nav-link:hover {
    background: #09522f;
}
.card.quick-link {
    border-top: 3px solid #0a5c36;
}
.btn-success {
    background-color: #0a5c36;
    border-color: #0a5c36;
}
.btn-success:hover, .btn-outline-success:hover {
    background-color: #09522f;
}